// App/firebase-config.js
// lifted with pride from https://dev.codetrick.net/how-to-create-a-reddit-clone-using-react-and-firebase/

// Instructions:
// 1. Make a copy of this file and name it firebase-config.js
// 2. Replace all ALLCAPS values with the specific values you see in Firebase Project Overview, 
//    when you click "Add Firebase to your web app".

import firebase from 'firebase';

const config = {
    apiKey: 'APIKEY',
    authDomain: 'DOMAIN.firebaseapp.com',
    databaseURL: 'https://DATABASE.firebaseio.com',
    projectId: 'PROJECTID',
    storageBucket: 'STORAGE.appspot.com',
    messagingSenderId: 'SENDERID',
};

firebase.initializeApp(config);

export const provider = new firebase.auth.GoogleAuthProvider();
export const auth = firebase.auth();

export default firebase;